﻿/* Empty. Add your own CSS if you like */
.bar.bar-custom {
    border-color: #0074BF;
    background-color: #0074BF;
    background-image: linear-gradient(0deg, #0c60ee, #0c60ee 50%, transparent 50%);
    color: #fff;
}

    .bar.bar-custom .title {
        color: #fff;
    }

    .bar.bar-custom.bar-footer {
        background-image: linear-gradient(180deg, #0c60ee, #0c60ee 50%, transparent 50%);
    }

.bar-custom .button {
    border-color: transparent;
    background-color: #0074BF;
    color: #fff;
}

    .bar-custom .button:hover {
        color: #fff;
        text-decoration: none;
    }

    .bar-custom .button.active, .bar-positive .button.activated {
        background-color: #0c60ee;
    }

    .bar-custom .button.button-clear {
        border-color: transparent;
        background: none;
        box-shadow: none;
        color: #fff;
        font-size: 17px;
    }

    .bar-custom .button.button-icon {
        border-color: transparent;
        background: none;
    }


.tabs-custom > .tabs,
.tabs.tabs-custom {
    border-color: #0074BF;
    background-color: #0074BF;
    background-image: linear-gradient(0deg, #0c60ee, #0c60ee 50%, transparent 50%);
    color: #fff;
}

    .tabs-custom > .tabs .tab-item .badge,
    .tabs.tabs-custom .tab-item .badge {
        background-color: #fff;
        color: #387ef5;
    }

.tabs-striped.tabs-custom .tabs {
    background-color: #0074BF;
}

.tabs-striped.tabs-custom .tab-item {
    color: rgba(255, 255, 255, 0.4);
    opacity: 1;
}

    .tabs-striped.tabs-custom .tab-item .badge {
        opacity: 0.4;
    }

    .tabs-striped.tabs-custom .tab-item.tab-item-active, .tabs-striped.tabs-custom .tab-item.active, .tabs-striped.tabs-positive .tab-item.activated {
        margin-top: -2px;
        color: #fff;
        border-style: solid;
        border-width: 2px 0 0 0;
        border-color: #fff;
    }

.custom-header {
    background: #0074BF !important;
    color: white;
}

input::-webkit-input-placeholder {
  color: white !important;
}
input:-moz-placeholder {
  color: white !important;
}
input:-ms-input-placeholder { /* IE10+ */
  color: white !important;
}
.initial-label {
    background: #2688C8;
    border-color: #2688C8;
    margin-bottom: 1em;
    border-radius: 0.2em
}

.initial-image {
    margin-left: 7% !important;
    margin-right: 10%;
    margin-top: 3em;
    height: 5.5em;
}

.initial-image1 {
    margin-left: 5% !important;
    margin-right: 10%;
    margin-top: 3em;
    height: 5.5em;
}

.initial-image2 {
    margin-left: 32% !important;
    margin-right: 10%;
    margin-bottom: 2em;
    margin-top: 3em;
    height: 5.5em;
}

.initial-image3 {
    margin-left: 10% !important;
    margin-right: 10%;
    margin-top: 1em;
    height: 3em;
}

.initial-div {
    margin-left: 17%;
    margin-right: 17%;
    margin-top: 5em;
    background: #0074BF;
}

.initial-div1 {
    margin-left: 17%;
    margin-right: 17%;
    background: #0074BF;
}

.initial-div2 {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2em;
    background: #0074BF;
}

.initial-div3 {
    margin-left: 10%;
    margin-right: 10%;
}

.initial-div4 {
    margin-left: 17%;
    margin-right: 17%;
}

.initial-input {
    color: #FFF !important;
    margin-left: 1em !important;
}

.initial-icon {
    color: #FFF !important;
}

.initial-button {
    background: #FFF;
    color: #0074BF;
    width: 100% !important
}

.initial-button1 {
    background: #0074BF;
    color: #FFF;
    margin-top: 2.5em;
    border-color: white;
    width: 100% !important
}

.initial-button2 {
    background: #0074BF !important;
    color: #FFF;
    width: 100% !important
}

.initial-button2 {
    background: #0074BF;
    color: #FFF;
    margin-top: 1em;
    border-color: white;
    width: 100% !important
}

.initial-button3 {
    background: #0074BF !important;
    color: #FFF !important;
    border-color: white;
}

.side-menu-special {
    border-bottom: 1px solid #FFF !important;
    margin-bottom: 7%;
    max-height: 45%;
}

.special-item {
    border: none;
    border-bottom: 0.1em solid;
    margin: -1px !important;
}

.side-menu-special .item-content {
  background: #0074BF !important;
}

.side-menu-title {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    color: white !important;
}

.normal-sidemenu-item {
    margin-top: 0.5em !important; 
    border: 0;
}

.parent {
    width: 100%;
}

.special-table {
    table-layout: fixed;
}

.left {
    width: 33%;
    text-align: left;
    word-wrap: break-word;
}

    .left.bold {
        font-weight: bold;
    }

.portfolio-other {
    font-size: 13px;
    color: #999;
}

.right {
    width: 66%;
    text-align: right;
}

.bold {
    font-weight: bold;
}

tr.spaceUnder > td
{
  padding-bottom: 0.5em;
}

.radio-icon {
  color: #0074BF;
}

.payments-input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: #0074BF !important;
}