﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!--For users deploying their apps to Windows 8.1 or Android Gingerbread, platformOverrided.js
    will inject platform-specific code from the /merges folder -->
    <script src="js/platformOverrides.js"></script>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
</head>
<body ng-app="starter">
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
    <ion-side-menus ng-controller="SideMenuCtrl as sideMenuVm">

        <ion-side-menu-content>
            <ion-nav-bar class="bar bar-positive custom-header" style="background-color: !important #0074BF">
                <ion-nav-back-button>
                </ion-nav-back-button>
            </ion-nav-bar>

            <ion-nav-view></ion-nav-view>
        </ion-side-menu-content>
        <ion-side-menu side="left" ng-controller="SideMenuCtrl" drag-content="false">
            <ion-content class="side-menu" overflow-scroll="false">
                <ion-list>
                    <ion-item class="special-item side-menu-special" style="background: #0074BF; color: white; height: 4em;">
                        <p class="side-menu-title">Navigation</p>
                    </ion-item>

                    <div style="margin-top: 1.5em !important;">
                        <img class="initial-image3" src="img/logo_white_bk.png" />
                    </div>

                    <ion-item class="item-icon-left special-item side-menu-item" ng-click="sideMenuVm.gotToLogin()" menu-close="" style="margin-top: 1.5em !important; border: 0;">
                        <i class="icon ion-power side-menu-item-icon" style="margin-left: 7% !important; color: #0074BF !important;"></i>
                        <span class="side-menu-item-text" style="margin-left: 7% !important; color: #0074BF !important;">Log In</span>
                    </ion-item>

                    <ion-item class="item-icon-left special-item side-menu-item normal-sidemenu-item" ng-click="sideMenuVm.gotToRegister()" menu-close="">
                        <i class="icon ion-person-add side-menu-item-icon" style="margin-left: 7% !important; color: #0074BF !important;"></i>
                        <span class="side-menu-item-text" style="margin-left: 7% !important; color: #0074BF !important;">Register</span>
                    </ion-item>

                    <ion-item class="item-icon-left special-item side-menu-item normal-sidemenu-item" ng-click="sideMenuVm.gotToProducts()" menu-close="">
                        <i class="icon ion-social-buffer side-menu-item-icon" style="margin-left: 7% !important; color: #0074BF !important;"></i>
                        <span class="side-menu-item-text" style="margin-left: 7% !important; color: #0074BF !important;">Products</span>
                    </ion-item>

                    <ion-item class="item-icon-left special-item side-menu-item normal-sidemenu-item" menu-close="">
                        <i class="icon ion-help-circled side-menu-item-icon" style="margin-left: 7% !important; color: #0074BF !important;"></i>
                        <span class="side-menu-item-text" style="margin-left: 7% !important; color: #0074BF !important;">About</span>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-side-menu>

    </ion-side-menus>
    -->
</body>
</html>
