﻿<ion-view>
    <ion-nav-bar class="bar-light">
        <ion-nav-back-button class="button button-clear" style="color: #0074BF !important;">
        </ion-nav-back-button>

        <ion-nav-title>
            <span style="color: #0074BF !important;">Interest Price List</span>
        </ion-nav-title>
    </ion-nav-bar>

    <ion-nav-buttons side="right">
        <!-- Toggle left side menu -->
        <button class="button button-icon icon ion-ios-home-outline" style="color: #0074BF !important;" ng-click="goToHome()"></button>
    </ion-nav-buttons>

    <ion-content>
        <div class="list">
            <ion-item ng-repeat="price in pricelist" style="padding-top: 1.5em !important; padding-bottom: 1.5em !important;">
                <table class="parent special-table">
                    <tr class="spaceUnder">
                        <td class="left" style="color: #0174BF; font-size: 0.7em;">Date:</td>
                        <td class="right" style="color: #0174BF; font-size: 0.7em;">Interest Price:</td>
                    </tr>
                    <tr>
                        <td class="left bold watchlist-shareprice" style="color: #0174BF; font-size: 1.1em; vertical-align: top;">{{::price.date}}</td>
                        <td class="right bold portfolio-other" style="color: #0174BF; font-size: 1.6em;">{{::price.interestRate}}</td>
                    </tr>
                </table>
            </ion-item>
        </div>
    </ion-content>
</ion-view>