﻿<ion-view>
    <ion-nav-bar class="bar-light">
        <ion-nav-back-button class="button button-clear" style="color: #0074BF !important;">
        </ion-nav-back-button>

        <ion-nav-title>
            <span style="color: #0074BF !important;">List Of Products</span>
        </ion-nav-title>
    </ion-nav-bar>

    <ion-nav-buttons side="right">
        <!-- Toggle left side menu -->
        <button class="button button-icon icon ion-ios-home-outline" style="color: #0074BF !important;" ng-click="goToHome()"></button>
    </ion-nav-buttons>

    <ion-content>
        <ion-list>
            <div class="card" style="height: 33% !important;" ng-click="goToInterestPricelist()">
                <p style="text-align: center; font-size: 2em; color: #1CA6FF; margin-bottom: 1.3em; margin-top: 1.3em;"> PESA+ </p>
            </div>
            <div class="card" style="height: 33% !important;" ng-click="goToInterestPricelist()">
                <p style="text-align: center; font-size: 2em; color: #5FD36C; margin-bottom: 1.3em; margin-top: 1.3em;"> PATA+ </p>
            </div>
            <div class="card" style="height: 33% !important;" ng-click="goToInterestPricelist()">
                <p style="text-align: center; font-size: 2em; color: #FF5E55; margin-bottom: 1.3em; margin-top: 1.3em;"> CHAMA+ </p>
            </div>
        </ion-list>
    </ion-content>
</ion-view>