﻿<ion-view view-title="Log In">
    <ion-nav-buttons side="right">
        <!-- Toggle left side menu -->
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="left">
        <!-- Toggle left side menu -->
        <button class="button button-icon icon ion-ios-home-outline" ng-click="goToHome()"></button>
    </ion-nav-buttons>

    <ion-content style="background: #0074BF;">
        <ion-list>
            <div class="initial-image">
                <img class="initial-image" src="img/logo_blue_bk.png"/>
            </div>

            <div class="list list-inset initial-div">
                <label class="item item-input initial-label">
                    <i class="icon ion-ios-person-outline placeholder-icon initial-icon"></i>
                    <input type="email" placeholder="Email Address" class="initial-input">
                </label>
                <label class="item item-input initial-label">
                    <i class="icon ion-ios-locked-outline placeholder-icon initial-icon"></i>
                    <input type="password" placeholder="Password" class="initial-input">
                </label>
            </div>

            <div class="initial-div1">
                <button class="button initial-button" ng-click="goToHome()">
                    Log In
                </button>
            </div>

            <div class="initial-div1" ng-click="goToRegister()">
                <button class="button initial-button1">
                    Register
                </button>
            </div>
        </ion-list>
    </ion-content>
</ion-view>