﻿<ion-view>
    <ion-nav-bar class="bar-light">
        <ion-nav-back-button class="button button-clear" style="color: #0074BF !important;">
        </ion-nav-back-button>

        <ion-nav-title>
            <span style="color: #0074BF !important;">Payment Option</span>
        </ion-nav-title>
    </ion-nav-bar>

    <ion-nav-buttons side="right">
        <!-- Toggle left side menu -->
        <button class="button button-icon icon ion-ios-home-outline" style="color: #0074BF !important;" ng-click="goToHome()"></button>
    </ion-nav-buttons>

    <ion-content class="has-footer">
        <ion-list>
            <div class="card">
                <div class="list">
                    <ion-radio ng-repeat="item in paymentsList"
                               ng-value="item"
                               ng-model="clientSide" style="color: #0074BF">
                        {{ item }}
                    </ion-radio>
                </div>
            </div>

            <p style="text-align: center; font-size: 1em; color: #1CA6FF; margin-bottom: 1.3em; margin-top: 1.3em; margin-left: 2em; margin-right: 2em;">
                You can fund your account by sending money to our <strong>Mpesa Paybill 8881111</strong> starting your account number you received or fill in the details below
            </p>

            <div class="list" style="margin-left: 2em; margin-right: 2em;">
                <ion-input class="item item-input item-floating-label input-item payments-input">
                    <ion-label style="color: #2C8CCA">Phone Number</ion-label>
                    <input style="color: #0074BF" type="tel" ng-model="phonenumber" placeholder="Phone Number" ng-trim name="username" required>
                </ion-input>

                <ion-input class="item item-input item-floating-label input-item payments-input">
                    <ion-label style="color: #2C8CCA">Amount To Fund</ion-label>
                    <input style="color: #0074BF" type="number" ng-model="amount" placeholder="Amount To Fund" required>
                </ion-input>
            </div>

            <div class="initial-div4">
                <button class="button icon-right ion-ios-checkmark-outline initial-button2">
                    Submit
                </button>
            </div>
        </ion-list>
    </ion-content>

    <div class="bar bar-light bar-footer">
        <div class="title" style="color: #0074BF !important; font-size: 1em; text-align: left;">Want to know more about Unit Trusts?</div>
        <button class="button initial-button3" style="width: 4em;">Yes</button>
    </div>
</ion-view>