﻿<ion-view view-title="Register">
    <ion-nav-buttons side="right">
        <!-- Toggle left side menu -->
        <button class="button button-icon icon ion-navicon" ng-click="goToHome()"></button>
    </ion-nav-buttons>

    <ion-content style="background: #0074BF;">
        <ion-list>
            <div class="initial-image">
                <img class="initial-image" src="img/logo_blue_bk.png"/>
            </div>

            <div class="list list-inset initial-div">
                <label class="item item-input initial-label">
                    <i class="icon ion-ios-person-outline placeholder-icon initial-icon"></i>
                    <input type="number" placeholder="ID Number" class="initial-input">
                </label>
                <label class="item item-input initial-label">
                    <i class="icon ion-ios-telephone-outline placeholder-icon initial-icon"></i>
                    <input type="tel" placeholder="Phone Number" class="initial-input">
                </label>
                <label class="item item-input initial-label">
                    <i class="icon ion-ios-email-outline placeholder-icon initial-icon"></i>
                    <input type="email" placeholder="Email Address" class="initial-input">
                </label>
            </div>

            <div class="initial-div1" ng-click="goToThankYou()">
                <button class="button initial-button">
                    Register Now
                </button>
            </div>
        </ion-list>
    </ion-content>
</ion-view>