﻿<ion-view view-title="Products">
    <ion-content>
        <ion-list>
            <div class="card" style="height: 33% !important;" ng-click="goToInterestPricelist()">
                <p style="text-align: center; font-size: 2em; color: #1CA6FF; margin-bottom: 1.3em; margin-top: 1.3em;"> PESA+ </p>
            </div>
            <div class="card" style="height: 33% !important;" ng-click="goToInterestPricelist()">
                <p style="text-align: center; font-size: 2em; color: #5FD36C; margin-bottom: 1.3em; margin-top: 1.3em;"> PATA+ </p>
            </div>
            <div class="card" style="height: 33% !important;" ng-click="goToInterestPricelist()">
                <p style="text-align: center; font-size: 2em; color: #FF5E55; margin-bottom: 1.3em; margin-top: 1.3em;"> CHAMA+ </p>
            </div>
        </ion-list>
    </ion-content>
</ion-view>