<ion-view view-title="Accounts Inquiry">
  <ion-content>
    <ion-list>
        <div class="card" style="height: 25%;">
            <p style="text-align:center; font-size: 1.6em; color: #1CA6FF; margin-top: 1em; margin-bottom: 0.8em;"> 00001-002-00010-001 </p>
            <p style="text-align:center; font-size: 1.6em; color: #1CA6FF; margin-bottom: 1em;"> PESA+ </p>
        </div>
        <div class="card">
            <p style="text-align: center; font-size: 1.6em; color: #5FD36C; margin-top: 1em; margin-bottom: 0.8em;"> 00001-002-00010-001 </p>
            <p style="text-align:center; font-size: 1.6em; color: #5FD36C; margin-bottom: 1em;"> PATA+ </p>
        </div>
    </ion-list>
  </ion-content>
</ion-view>
