<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-only tabs-color-active-light tabs-custom">

    <!-- Dashboard Tab -->
    <ion-tab icon-off="ion-ios-person" icon-on="ion-ios-person-outline" href="#/tab/account1">
        <ion-nav-view name="tab-account1"></ion-nav-view>
    </ion-tab>

    <ion-tab icon-off="ion-ios-briefcase" icon-on="ion-ios-briefcase-outline" href="#/tab/account2">
        <ion-nav-view name="tab-account2"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab icon-off="ion-ios-people" icon-on="ion-ios-people-outline" href="#/tab/account3">
        <ion-nav-view name="tab-account3"></ion-nav-view>
    </ion-tab>

    <ion-tab icon-off="ion-ios-email" icon-on="ion-ios-email-outline" href="#/tab/account4">
        <ion-nav-view name="tab-account4"></ion-nav-view>
    </ion-tab>

    <ion-tab icon-off="ion-ios-more" icon-on="ion-ios-more-outline" href="#/tab/account5">
        <ion-nav-view name="tab-account5"></ion-nav-view>
    </ion-tab>
</ion-tabs>
