﻿<ion-view view-title="Thank You!" style="background: #0074BF;">
    <ion-nav-buttons side="right">
        <!-- Toggle left side menu -->
        <button class="button button-icon icon ion-ios-home-outline" ng-click="goToHome()"></button>
    </ion-nav-buttons>

    <ion-content class="card padding">
        <ion-list style="height: 100%;">
            <div class="initial-div3">
                <img class="initial-image2" src="img/check.png"/>
            </div>

            <div class="initial-div3">
                <p style="color: #0074BF; text-align: center;"> Thank You For A Successful Registration. </p>
                <p style="color: #0074BF; text-align: center;"> Your Number Is <strong>VM000001</strong></p>
                <p style="color: #0074BF; text-align: center;"> You can Start Investing from an Initial Minimum amount of KSH 2500</p>
                <p style="color: #0074BF; text-align: center;"> </p>
            </div>

            <div class="initial-div3" ng-click="goToPayments()">
                <button class="button button-positive icon-right ion-android-arrow-forward initial-button2">
                    Proceed To Payments
                </button>
            </div>
        </ion-list>
    </ion-content>
</ion-view>